body {
    transition: 1s;
}

.container {
    width: 500px;
    margin: 0 auto;
    background-color: aliceblue;
    height: 50px;
    box-sizing: border-box;
    margin-top: 300px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


.material-symbols-outlined { 
    box-sizing: border-box;
    margin-top: 10px; 
    transition: 1s;
}


.range {
    width: 400px;
    margin: 0 auto;
    padding: auto 0;
    margin-top: 15px;
}





